h1{
  text-align: center;
}


p#featured-property{
  width: 800%;
  margin: 0;
  text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

p{
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
}


nav{
  text-align: center;
}

 a{

   padding-right: 10px;
   padding-left: 10px;
   background-color: yellow;
 }

 figcaption{
   text-align: center;
   font-size: 12px;

 }


 div{
   float: left;
   background-color: grey;
   text-align: center;
   width: 25%;
 }

 #details{
   display: block;
   resize: horizontal;
 }
